<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742942895960-ia1kl8b7g471bcev87p1g2if5s2nu7eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742942895960-ia1kl8b7g471bcev87p1g2if5s2nu7eb</string>
	<key>API_KEY</key>
	<string>AIzaSyDTt7KcJQ9rEjl2fK4L0eqAQeykBJlZzVc</string>
	<key>GCM_SENDER_ID</key>
	<string>742942895960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tobiapplications.shoppinglist</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-4ad12</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-4ad12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742942895960:ios:c0ca110885729800c6ff2d</string>
</dict>
</plist>